.root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail,
.details {
  display: inline-block;
}

.thumbnail {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.details {
  text-align: left;
}
