body {
    font-size: 100%;
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
}

#container {
    width: 100%;
    color: #FFF;
    background-color: rgba(0, 160, 230, 0.1);
    text-align: center;
    position: absolute;
    bottom: 0;
}

footer, footer a {
    color: #FFF;
    text-align: right;
}

#thumbnail, #details {
    display: inline-block;
}

#thumbnail {
    width: 100px;
    height: 100px;
}

#details {
    text-align: left;
}

#toggle-form-btn  {
    background-color: rgba(0, 160, 230, 0.05);
    margin: 0;
    border-color: transparent;
    color: #FFF;
    width: 100%;
}

#notifications {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 160, 230, 0.1);
    top: 0;
    margin: auto;
    z-index: 1;
}

#notifications .message {
    text-align: center;
    color: #FFF;
}
