@import "../../styles/colors";

.root {
  background-color: $blue300;
  border-color: $blue200;
  color: $white;
  padding: 5px 10px;
  border-radius: 10%;

  &:hover {
    background-color: $blue200;
    border-color: $blue100;
  }
}
