<h2>Recently played</h2>
<div class="list">
    <div class="track" ng-repeat="track in tracks = (histCtrl.player.getHistory().getTracks() | reverse)">
        <div ng-bind="track.user.username"></div>
        <div ng-bind="track.title"></div>
        <div ng-bind="track.genre"></div>
        <div>
            <a href="{{ track.permalink_url }}">Permalink</a>
        </div>
        <div class="actions">
            <button ng-click="histCtrl.play(tracks.length - $index - 1)">Play</button>
            <button ng-click="histCtrl.delete(tracks.length - $index - 1)">Delete</button>
            <button ng-click="histCtrl.queue(tracks.length - $index - 1)">Queue</button>
        </div>
    </div>
</div>