<h2>Playback Queue</h2>
<div class="list">
    <div class="track" ng-repeat="track in playbackCtrl.getPlaybackQueue() track by $index">
        <div ng-bind="track.user.username"></div>
        <div ng-bind="track.title"></div>
        <div ng-bind="track.genre"></div>
        <div>
            <a href="{{ track.permalink_url }}">Permalink</a>
        </div>
        <div class="actions">
            <button ng-click="playbackCtrl.play($index)">
                <svg class="icon white">
                    <use xlink:href="#play"></use>
                </svg>
            </button>
            <button ng-click="playbackCtrl.delete($index)">
                <svg class="icon">
                    <use xlink:href="#delete"></use>
                </svg>
            </button>
        </div>
    </div>
</div>