<h2>Playback Queue</h2>
<div class="list">
    <div class="track" ng-repeat="track in playbackCtrl.player.getPlaybackQueue().getTracks() track by $index">
        <div ng-bind="track.user.username"></div>
        <div ng-bind="track.title"></div>
        <div ng-bind="track.genre"></div>
        <div>
            <a href="{{ track.permalink_url }}">Permalink</a>
        </div>
        <div class="actions">
            <button ng-click="playbackCtrl.play($index)">Play</button>
            <button ng-click="playbackCtrl.delete($index)">Delete</button>
        </div>
    </div>
</div>