<div id="canvas-panel">
    <canvas width="500" height="500">
        Your browser does not support the HTML5 canvas element.
    </canvas>
</div>
<div id="visualizer-options">
    <label for="visualizer-dropdown">
        Visualizer:
    </label>
    <select id="visualizer-dropdown" 
        ng-model="visualizerCtrl.strategy" ng-change="visualizerCtrl.setStrategy(visualizerCtrl.strategy)"
        ng-options="key as visualizer.name for (key, visualizer) in visualizerCtrl.getStrategies()">
    </select>
</div>