<h2>Recently played</h2>
<div class="list">
    <div class="track" ng-repeat="track in tracks = (histCtrl.getHistory() | reverse)">
        <div ng-bind="track.user.username"></div>
        <div ng-bind="track.title"></div>
        <div ng-bind="track.genre"></div>
        <div>
            <a href="{{ track.permalink_url }}">Permalink</a>
        </div>
        <div class="actions">
            <button ng-click="histCtrl.play(tracks.length - $index - 1)" title="Play">
                <svg class="icon white">
                    <use xlink:href="#play"></use>
                </svg>
            </button>
            <button ng-click="histCtrl.delete(tracks.length - $index - 1)" title="Delete">
                <svg class="icon">
                    <use xlink:href="#delete"></use>
                </svg>
            </button>
            <button ng-click="histCtrl.queue(tracks.length - $index - 1)" title="Queue">
                <svg class="icon">
                    <use xlink:href="#queue"></use>
                </svg>
            </button>
        </div>
    </div>
</div>