<div>
    <form id="player-form" ng-submit="playerCtrl.play()">
        <input type="text" id="track-url" size="40"
                placeholder="SoundCloud Track URL"
                ng-model="playerCtrl.track_url" />
        <button type="submit">Load song</button>
    </form>
</div>
<div id="song-information">
    <img id="thumbnail" ng-src="{{ playerCtrl.getCurrentTrack().artwork_url }}" />
    <div id="details">
        <div id="artist" ng-bind="playerCtrl.getCurrentTrack().user.username"></div>
        <div id="title" ng-bind="playerCtrl.getCurrentTrack().title"></div>
        <div id="genre" ng-bind="playerCtrl.getCurrentTrack().genre"></div>
    </div>
</div>
<audio id="player" autoplay crossorigin="anonymous" controls ng-src="{{ playerCtrl.getCurrentTrack().stream_url | trusted }}" >
    Your browser does not support the HTML5 audio element.
</audio>
<footer>
    <a href="https://github.com/PakkuDon/SoundCloudVisualizer">Source code on GitHub</a>
</footer>