@import "../../styles/colors";

.root {
  display: flex;
  flex-direction: row;
  height: 100%;
  max-width: 25%;
}

.sidebarWrapper {
  background-color: $blue300;
  color: $white;
  padding: 5px;
}

.toggleSidebar {
  background-color: $blue200;
  border-color: transparent;
  color: $white;
  padding: 2px;
  border-radius: 0;
  align-self: center;
  height: 100%;
}
