.root {
  background-color: rgba(0, 160, 230, 0.1);
  width: 100%;
  text-align: center;
}

.thumbnail,
.details {
  display: inline-block;
}

.thumbnail {
  width: 100px;
  height: 100px;
}

.details {
  text-align: left;
}

.footer {
  text-align: right;
}
