body {
  font-size: 100%;
  font-family: sans-serif;
  background-color: #000;
  color: #FFF;
}

body {
  margin: 0;
  height: 100vh;
}

.root {
  display: flex;
  height: 100%;
}

a {
  color: #FFF;
}

.history,
.playbackQueue {
  height: 50%;
}
