/* Main layout and styles */
body {
    font-size: 100%;
    font-family: sans-serif;
    background-color: #000;
}

body, #main {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

#main {
    display: flex;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 1.2em;
}

button {
    background-color: rgba(0, 160, 230, 0.1);
    border-color: rgba(0, 160, 230, 0.25);
    color: #FFF;
    padding: 5px 10px;
    border-radius: 10%;
}

button:hover {
    background-color: rgba(0, 160, 230, 0.25);
    border-color: rgba(0, 160, 230, 0.4);
}

footer {
    text-align: right;
}

.hidden {
    display: none;
}
/* Sidebar and toggle rules */
#sidebar {
    background-color: rgba(0, 160, 230, 0.1);
    color: #FFF;
    flex: 1 0 auto;
    height: 100%;
    padding: 5px;
}

input#toggle-sidebar {
    display: none;
}

label[for="toggle-sidebar"] {
    background-color: rgba(0, 160, 230, 0.25);
    border-color: transparent;
    color: #FFF;
    padding: 2px;
}

input#toggle-sidebar:checked ~ #sidebar {
    display: none;
}

/* Sidebar components */
history, playback-queue {
    height: 50%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

/* History and playback queue lists and list contents */
.list {
    overflow-y: auto;
    flex: 1 1 auto;
}

.track {
    border-bottom: 1px solid rgba(0, 160, 230, 0.1);
    padding: 5px;
}

.track:hover {
    background-color: rgba(0, 160, 230, 0.1);
}

.track .actions {
    text-align: right;
}

svg.icon {
    stroke: #FFF;
    stroke-width: 4;
    fill: transparent;
    width: 24px;
    height: 24px;
}

svg.white {
    fill: #FFF;
}

.icon.small {
    width: 12px;
    height: 12px;
}

/* Main body container */
#body {
    background-color: #000;
    flex: 3 0 auto;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

/* Visualizer component */
visualizer {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
}

#canvas-panel {
    position: relative;
    flex: 1 1 auto;
}

canvas {
    background-color: #000;
    /* Fill parent panel */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#visualizer-options {
    color: #FFF;
    flex: 0 1 auto;
}

/* Audio player component */
#container {
    color: #FFF;
    background-color: rgba(0, 160, 230, 0.1);
    text-align: center;
    flex: 0 1 auto;
}

/* Track details */
#thumbnail, #details {
    display: inline-block;
}

#thumbnail {
    width: 100px;
    height: 100px;
}

#details {
    text-align: left;
}

/* Toggle control for player component */
#toggle-player {
    display: none;
}

label[for="toggle-player"] {
    background-color: rgba(0, 160, 230, 0.20);
    margin: 0;
    border-color: transparent;
    color: #FFF;
    width: 100%;
    text-align: center;
}

#toggle-player:checked ~ #container {
    display: none;
} 

/* Notifications */
notifications {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

notifications .message {
    text-align: center;
    color: #FFF;
    background-color: rgba(0, 160, 230, 0.2);
    padding: 5px;
    margin: 1px;
    position: relative;
}

.message .delete {
    padding: 0px;
    border-radius: 100%;
}